src/main/resources/calculator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://soap-api.com/trustBanc/soapapi"
        targetNamespace="http://soap-api.com/trustBanc/soapapi">

<xs:element name="AdditionRequest">
<xs:complexType>
    <xs:sequence>
        <xs:element name="num1" type="xs:int"/>
        <xs:element name="num2" type="xs:int"/>
    </xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="AdditionResponse">
<xs:complexType>
    <xs:sequence>
        <xs:element name="result" type="xs:int"/>
    </xs:sequence>
</xs:complexType>
</xs:element>
        </xs:schema>
